extends layout.pug

block content
  main.all-notes
    .name 
      p.info-label Employee's name
      h2.info-name= note.name
    .surname
      p.info-label Employee's surname
      h2.info-surname= note.surname
    .dob
      p.info-label Date of birth
      h2.info-name= note.dob
    .jobposition
      p.info-label Job position
      h2.info-surname= note.position
    .email
      p.info-label Email adress
      h2.info-name= note.email
    .phone
      p.info-label Phone number
      h2.info-surname= note.mobile
    .status
      p.info-label Job status
      h2.info-surname= note.status
    p.note-body#body= note.body 
    
    script(type="text/javascript").
      window.onload = function () {
        document.getElementById('body').innerHTML = marked(document.getElementById('body').innerHTML);
      }